@use "../../variables.scss" as v;
.home {
    flex-direction: column;
    flex-wrap: wrap;
}

.header {
    padding-top: 40px;
    font-size: v.$font-size-2;
}

.socialsContainer {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;

    .socialsButton {
        background-color: red;
        width: auto;
        padding: 5px 10px 5px 10px;
        margin-top: 40px;
        font-size: v.$font-size-0;
        border: none;        
    }

    .socialsA {
        margin-top: 40px;
        margin-left: 10px;
        padding: 5px;
        font-size: v.$font-size-0;
    }

    .socialsA::after {
        content: " > ";
    }

    a {
        text-decoration: none;
        color: white;
      }
}

.main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.infoWrapper {
    width: 100%;
    height: auto;
}

.animationWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: green;
}



//Desktop
@media (min-width: 500px) {
    .home {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .header {
        padding-top: 100px;
        width: 100%;

        @media (min-width: 1600px) {
            padding-top: 140px;
        }

        .h1 {
            width: auto;
            font-size: v.$font-size-5;
            @media (min-width: 1600px) {
                font-size: v.$font-size-6;
            }
        }
    }

    .socialsContainer {
        .socialsButton {
            font-size: v.$font-size-1;
            @media (min-width: 1600px) {
                    font-size: v.$font-size-3;
            }
        }
    
        .socialsA {
            font-size: v.$font-size-1;  
            @media (min-width: 1600px) {
                font-size: v.$font-size-3;
        }
        }
    }

    .main {
        flex-direction: row;
    }

    .infoWrapper {
        width: 70%;
        // background-color: red;
    }

    .animationWrapper {
        width: 30%;
        // background-color: green;
    }
}

