@use "../../variables.scss" as v;
.about {
    flex-direction: column;
    flex-wrap: wrap;
}

.informationsWrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.imgContainer {
    width: 100%;
    text-align: center;
    padding-top: 50px;

    .img {
        width: 220px;
        height: 220px;
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }

    //Desktop
    @media (min-width: 500px) {
        .img {
            width: 400px;
            height: 400px;
        }
    }

    @keyframes floating {
        0% { transform: translate(0,  0px); }
        50%  { transform: translate(0, 15px); }
        100%   { transform: translate(0, -0px); }   
    }
}

.textContainer {
    width: 80%;
    margin: 0 auto;
}

.article {
    padding-top: 30px;

    .p {
        font-size: v.$font-size-0-8;
    }
        //Desktop
        @media (min-width: 500px) {
            .p {
                font-size: v.$font-size-1;
            }
        }
        //Big Desktop
        @media (min-width: 1600px) {
            .p {
                font-size: v.$font-size-1-2;
            }
        }
    
}

.h3 {
    padding: 20px 0;
    font-size: v.$font-size-1-3;
}

 //Desktop
 @media (min-width: 500px) {
    .h3 {
        font-size: v.$font-size-1-5;
    }
}

  //Big Desktop
  @media (min-width: 1600px) {
    .h3 {
        font-size: v.$font-size-1-6;
    }
}



.technologiesContainer {
    display: flex;
    flex-direction: column;

    .h4 {
       padding: 15px 0;
       font-weight: 600;
       font-size: v.$font-size-1;
    }

      //Big Desktop
      @media (min-width: 1600px) {
        .h4 {
            font-size: v.$font-size-1-2;
        }
    }

    .techP {
        font-size: v.$font-size-0-8;
    }
    
      //Big Desktop
      @media (min-width: 1600px) {
        .techP {
            font-size: v.$font-size-1;
        }
    }
}


