.codeAnimationContainer {
    width: 250px;
    min-height: 430px;
    height: auto;
    background-color: #2c304a;
    padding: 20px;
    border-radius: 5px;
}

.circlesContainer {
    top: 0;
    width: 100%;
    height: 30px;
    padding: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.dot {
    height: 10px;
    width: 10px;
    margin-left: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.dot:nth-child(1) {
    background-color: red;
}

.dot:nth-child(2) {
    background-color: green;
}