@use "../variables.scss" as v;
.header {
    width: 100%;
    text-align: center;
    font-size: v.$font-size-1-2;
}

  //Desktop
  @media (min-width: 500px) {
    .header {
        font-size: v.$font-size-1-5;
    }
}