/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */


#about, #projects {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

section {
  z-index: 1;
}

nav {
  z-index: 2;
}