


#about, #projects {
  padding-top: 4rem;
}



/* Desktop */
@media (min-width: 500px) {
  #projects {
        padding-bottom: 3rem;
  }
}

/* Desktop */
@media (min-width: 500px) {
  #about {
    padding-top: 1rem;
  }
}

section {
  z-index: 1;
}

nav {
  z-index: 2;
}