:root {
  @import url('https://fonts.googleapis.com/css2?family=Karla:wght@500;700&display=swap');
  font-family: 'Karla', sans-serif;
  scroll-behavior: smooth;
  /* scroll-padding-top: 10vh; */
  z-index: 1;
}

html {
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #25283D;
  color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


section {
  height: auto;
  width: 90%;
  margin: 0 auto;
  height: auto;
  display: flex;
}

/* Desktop */
@media (min-width: 500px) {
  section {
      width: 95%;
      min-height: 100vh;
    }
  }



/* Home elemnts */

/* Moble */
@media screen and (max-width: 500px) {
  main {
    padding-top: 60px;
  }
}

/* Desktop */
@media (min-width: 500px) {
  main {
    padding-top: 80px;
  }
}

/* Home elemnts */

/* h2 {
  font-size: 1.7rem;
} */
